{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["cn", "cva"]
}
