includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - app/
        - config/
        - database/
        - routes/

    excludePaths:
        - bootstrap/cache/*
        - vendor/*
